<%= error_messages_for :photoalbum %>

<p>
  <b>User</b><br />
  <%= get_user.login %>
</p>
<% form_for(:photoalbum, :url => photoalbums_path) do |f| %>
  <%= f.hidden_field :user_id, :value => get_user.id %>
  <%= f.hidden_field :parent_id, :value => session[:pa_parent] %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, :size => 20 %>
  </p>

  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end %>

<div id="back">
  <%= link_to 'Back', photoalbums_path %>
</div>
