<h1><%= get_legend %></h1>

<p>
  Here are your choices, vole.<br />
  <%= link_to 'Fucksheep Blog', :controller => 'blog' %><br />
  <%= link_to 'Haiku', :controller => 'haikus' %><br />
  <%= link_to 'Photoalbum', :controller => 'photoalbums' %><br />
</p>

