<div id="oblique-strategy">
  <span class="strategy"><%= get_oblique_strategy.oblique_strategy %></span>
  (<%= link_to_remote "change",
                      :url => { :action => :refresh_oblique_strategy } %>)
</div>
