<div id="out-links">
  <span class="link">home</span> |
  <% if is_admin? %>
    <%= link_to 'admin', :controller => 'login', :class => "link" %> |
  <% end %>
  <% if get_user %>
    <%= link_to 'haiku', :controller => 'haikus', :class => "link" %>
  <% end %>
</div>
