<h1>Listing lepers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
<% for leper in @lepers %>
  <tr>
    <td><%=h leper.name %></td>
    <td><%= link_to 'Show', leper_path(leper) %></td>
    <td><%= link_to 'Edit', edit_leper_path(leper) %></td>
    <td><%= link_to 'Destroy', leper_path(leper), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New leper', new_leper_path %>